.root {
  align-items: flex-start;
  background: #111;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.Brand {
  font-size: 14px;
  line-height: 50px;
  text-transform: lowercase;
}

.BrandLink {
  color: #fff;
  text-decoration: none;
}

.LeftLink {
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  margin-right: 2rem;
  text-decoration: none;
}

.RightLink {
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  margin-left: 2rem;
  text-decoration: none;
}
