.root {
  align-items: flex-start;
  background: #111;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.Brand {
  font-size: 20px;
  line-height: 50px;
  text-transform: lowercase;
  font-weight: 900;
}

.BrandLink {
  color: #fff;
  text-decoration: none;
}

.LeftLink {
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  margin-right: 2rem;
  text-decoration: none;
  max-width: 100px;
}

.RightLink {
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  max-width: 100px;
  margin-left: 2rem;
  text-decoration: none;
  font-family: Menlo, monospace;
}
