.root {
  margin: 1rem;
}

.SignIn {
  margin: 1rem 0 1rem;
}

.GithubIcon {
  fill: #111;
  vertical-align: middle;
  margin-right: .25rem;
  padding-bottom: .25rem;
}

.Github {
  /*background: #111;*/
  border: 2px solid #111;
  color: #111;
  padding: 1rem 2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
}
