.root {
  margin: 4rem auto;
  width: 100%;
}

.Container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1rem;
  text-align: center;
}

.SignIn {
  margin: 1rem auto;
  text-align: center;
}

.GithubIcon {
  fill: #111;
  vertical-align: middle;
  margin-right: .25rem;
  padding-bottom: .25rem;
}

.Github {
  /*background: #111;*/
  border: 2px solid #111;
  color: #111;
  padding: .75rem 2rem;
  font-weight: 900;
  text-decoration: none;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.Tagline {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
}


.Content {
  margin-bottom: 1.5rem;
  font-family: Menlo, monospace;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
}

.List {
  padding-left: 3rem;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .Tagline {
    font-size: 2.5rem
  }
}

@media only screen and (min-width: 800px) {
  .Container {
    max-width: 1000px;
    padding: 0 4rem;
  }
  .Tagline {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.03em;
  }
}
